@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@if (User.IsInRole("Administrator"))
{
    <div class="dropdown my-auto">
        <a class="btn btn-outline-light me-2 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Flights
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" asp-controller="Flights" asp-action="">List</a></li>
            <li><a class="dropdown-item" asp-controller="Flights" asp-action="Create">Create one</a></li>
            <li><a class="dropdown-item" asp-controller="Flights" asp-action="CreateMany">Create many</a></li>
        </ul>
    </div>
}
else
{
    <div class="dropdown my-auto">
        <a class="btn btn-outline-light me-2 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Flights
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" asp-controller="Flights" asp-action="Index">List</a></li>
        </ul>
    </div>
}



