@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    
        <form id="logoutForm" class="d-flex" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <a id="manage" class="btn btn-outline-info me-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account </a>
            <button id="logout" type="submit" class="btn btn-outline-danger">Logout</button>
        </form>
}
else
{
    <form class="d-flex">
            <a class="btn btn-outline-success me-2" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a class="btn btn-outline-warning" id="login" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
    </form>
        
}
</ul>
