@model JustInTimeCompany.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-reservationId="@Model.Id">Details</a>  |
    <a asp-action="Index">Back to List</a>
</div>
